:root {
  --primary-bg: #1a1a1a;
  --secondary-bg: #292929;
  --primary-text: #ffffff;
  --secondary-text: #bdc3c7;
  --primary-accent: #3498db;
  --secondary-accent: #e74c3c;
  --accent-success: #27ae60;
  --accent-warning: #f39c12;
  --accent-info: #3498db;
  --accent-error: #e74c3c;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  height: 100%
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  /* overflow: hidden; */
  height: 100%;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--primary-text);
}

.header, .footer {
  background-color: var(--primary-bg);
  text-align: center;
  height: 100px;
}

.header h1 {
  margin-top: 15px;
}

.footer {
  
}

.projects {
  background-color: var(--secondary-bg);
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-text);
  background-color: var(--white);
  height: 250px;
  width: 400px;
  border: 1px solid var(--primary-accent);
  box-shadow: 0 0 10px ;
  border-radius: 10px;
  margin: 10px 0;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
}
img {
  height: auto;
  width: 100%;
}

h2 {
  margin: 0;
  padding: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

span {
  width: 20px;
}

.links a {
  height: 20px;
  text-decoration: none;
  color: var(--primary-accent);
  font-weight: bold;
  border: 1px solid var(--primary-accent);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0 5px;
}

.links a:hover {
  background-color: var(--primary-accent);
  color: var(--white);
}

@media (min-width: 500px) and (max-width: 900px) {
  .projects {
    justify-content: center;
  }

  body {
    overflow: auto;
  }

  .footer {
    position: fixed; /* Fix the footer to the bottom of the viewport */
    bottom: 0; /* Stick it to the bottom */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .projects {
    padding-bottom: 150px;
  }
}

@media screen {
  body {
    overflow: hidden;
  }

  .container {
    flex-grow: 1;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    background-color: var(--white);
  }
  
  canvas {
    width: 100%;
    height: 100%;
  }
  
  button {
    height: 50px;
    width: 80px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}
